footer {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 5%;
  background-color: #222221;
  color: white;
  display: flex;
  justify-content: left;
  align-content: center; }
  footer #copyright-container {
    margin-left: 10px;
    display: flex;
    align-content: center; }
    footer #copyright-container p {
      display: inline-block;
      margin: auto; }
    footer #copyright-container > p {
      margin-right: 5px; }
  footer ul {
    list-style: none; }
    footer ul li {
      margin: 0px 5px 2px 3px;
      font-weight: 300;
      font-size: 1.2rem; }
      footer ul li a {
        color: white;
        text-decoration: none; }
      footer ul li a:hover {
        color: orange; }
