header {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  background-color: #222221;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header #logo-container {
    margin-left: 10px; }
  header #authLink-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    margin-right: 3px; }
    header #authLink-container ul {
      list-style: none; }
      header #authLink-container ul li {
        display: inline-block;
        margin: 0px 5px 2px 3px;
        font-weight: 300;
        font-size: 1.2rem; }
        header #authLink-container ul li a {
          color: white;
          text-decoration: none; }
        header #authLink-container ul li a:hover {
          color: orange; }
